body {
    background-color: rgb(255, 255, 209);
    background-image: url('fondo.png');
    background-repeat: repeat;
    background-size: 25% auto;
}

.logo-web{
    display:block;
    margin:auto;
    width: 500px;
}

.logo-pro{
    display:block;
    position: absolute;
    width: 400px;
}
