
body {
    background-color: rgb(255, 255, 209);
}

button {
    /*Forma del botón*/
    width: 100px;
    height: 30px;

    /* Posición del boton */
    position: absolute;
    bottom: 20px;
    left: 77%;

    /* Estilo del botón */
    color: white;
    background-color: green;
    border-width: 3px;
    border-radius: 10px;
    border-color: black;
}

input{
    width: 60%;
    position: absolute;
    bottom: 20px;
    left: 15%;
}

h1 {
    width: 200px;
    font-family: italic, Times, serif;
    position: absolute;
    left: 43%;
}

rect {
    fill: white;
    stroke: black;
    stroke-width: 3px;
}
