{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8" name="mi_tienda" content="width=device-width, initial-scale=1">
        <title>MI TIENDA</title>
        <link rel="stylesheet" href="{% static 'mi_tienda.css'%}">
        <script type="text/javascript" src="{% static 'mi_tienda.js' %}"></script>
    </head>
    <body>

        <img src="{% static 'aeroshop.png'%}" class="logo-web">

        <a href="AvionesComerciales.html"><img src="{% static 'avionescomerciales-logo.png'%}" class="logo-pro"
                style="top:40%; left:10%; filter:alpha(opacity=50); opacity:.8"
                onmouseover="ilumina(this)" onmouseout="apaga(this)"></a>

        <a href="AvionesCombate.html"><img src="{% static 'avionesdecombate-logo.png'%}" class="logo-pro"
                style="top:40%;left:60%; filter:alpha(opacity=50); opacity:.8"
                onmouseover="ilumina(this)" onmouseout="apaga(this)"></a>

    </body>
</html>
